{% load wagtailcore_tags  wagtailimages_tags %}

<div class="home-container">
        {% for card in self.calloutcards %}
            {% image card.icon fill-55x55 as img %}
                <div class="info-box" style="border-left-color: {{card.left_border_color}};">
                <div class="info-header">
                    <div class="info-icon"><img src="{{img.url}}" alt="{{img.text}}"></div>
                    <h3>{{card.title}}</h3>
                </div>
                {{card.text}}
                {% if card.button_page %}
                    <a href="{% pageurl card.button_page %}" class="home-links">{{ card.button_text }} <i class="fa fa-arrow-right"></i></a>
                {% elif card.button_url %}
                    <a href="{{ card.buttonimage_url }}" class="home-links">{{ card.button_text }} <i class="fa fa-arrow-right"></i></a>
                {% endif %}
                </div>
        {% endfor %}
</div>

