{% load wagtailcore_tags  wagtailimages_tags %}

<div style="margin-top: 40px;" class="home-container ">
        {% for card in self.infocards %}
            {% image card.icon fill-60x60 as img %}
            <div class="info-box-1">
                <div class="icon-holder">
                    <img src="{{img.url}}" alt="{{img.text}} class="info-icon"">
                </div>
                <h3>{{card.title}}</h3>
                {{card.text|richtext}}

                {% if card.button_page %}
                    <a href="{% pageurl card.button_page %}" class="home-links">{{card.button_text}}  <i class="fa fa-arrow-right"></i></a>
                {% elif card.button_url %}
                    <a href="{{  card.button_url }}" class="home-links">{{card.button_text}}  <i class="fa fa-arrow-right"></i></a>
                {% endif %}
            </div>

      {% endfor %}

  </div>
