{% load wagtailcore_tags  wagtailimages_tags %}
{% load util_tags %}

<div class="home-container">
    {% image value.job_vacancies.icon fill-55x55 as img %}
            <div class="callout callout-left" style="background-color: {{value.job_vacancies.vacancies_background_color}};">
                <div class="info-header">
                    <div class="info-icon"><img src="{{img.url}}" alt="{{value.job_vacancies.icon_alt}}"></div>
                    <h3 class="job_vancancy_block_title"> {{ value.job_vacancies.vacancy_title }}</h3>
                </div>
                <div class="job_vancancy_title">
                    {{ value.job_vacancies.vacancy_text }}
                </div>
                {% if value.job_vacancies.vacancy_button_page %}
                    <a style="align-self: flex-start; " href="{% pageurl value.job_vacancies.vacancy_button_page %}" class="govie-footer__link">{{value.job_vacancies.vacancies_button_text}}  <i class="fas fa-arrow-right"></i></a>
                {% elif value.job_vacancies.vacancy_button_url %}
                    <a style="align-self: flex-start; " href="{{ value.job_vacancies.vacancy_button_url }}" class="govie-footer__link">{{ value.job_vacancies.vacancies_button_text }}  <i class="fas fa-arrow-right"></i></a>
                {% endif %}

            </div>
        {% image value.news_card.icon fill-55x55 as img_news %}
        <div class="callout callout-right" style="background-color: {{value.news_card.news_Background_color}}; align-items: flex-start;">
                <div class="info-header">
                    <div class="info-icon"><img src="{{img_news.url}}" alt="{{value.news_card.icon_alt}}"></div>
                    <h3 class="latest_news__block_title"> {{ value.news_card.block_title }}</h3>
                </div>
             {% if latest_news %}
                {% for news_page in latest_news %}
                    <a class="latest_news_content" href="{{ news_page.url }}">
                        <div class="latest_news__title"> {{ news_page.title }}</div>
                        <div class="latest_news__richtext">
                            {% for lead_text in news_page.lead_fields %}
                            {% if lead_text.block_type == "lead_text" %}
                                {{ lead_text }}
                            {% endif %}
                            {% endfor %}
                        </div>
                    </a>
                {% for news_landing_page in news_landing_page %}
                    <a href="{{ news_landing_page.url }}" class="latest_news__button">{{ value.news_card.news_button_text }}  <i class="fas fa-arrow-right"></i></a>
                {% endfor %}
            {% endfor %}
            {% endif %}
  </div>
</div>

