{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}
{% load left_nav %}

{% block content %}
<div class="wrapper wrapper--large wrapper--padding">
    <div class="main-page-content">
        <div class="left-nav">
            {% left_nav page %}
        </div>
        <div class="page-body">
            <h1 class="content-page-header">{{ page.title }}</h1>
            <div class="newslettersignupcta__body" style="padding: 0 0 20px;">
                {{ page.summary }}
            </div>
            {% for block in page.body%}
                {% include "patterns/molecules/streamfield/blocks/standard_page_body_block.html" with block=block %}
            {% endfor %}
        </div>
    </div>
    {% if page.jobvacancy_latestnews_snippet %}
                <div class="wrapper wrapper--large wrapper--padding">
                    {% include_block page.jobvacancy_latestnews_snippet.body with latest_news=page.jobvacancy_latestnews_snippet.latest_news %}
                </div>
    {% endif %}
</div>
{% if page.news_letter_signup_cta %}
    {% include "patterns/snippets/newslettersignupctasnippet.html" with object=page.news_letter_signup_cta %}
{% endif %}
{% endblock %}