{% extends "patterns/hero_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}
{% load left_nav %}


{% block content %}

<div class="wrapper wrapper--large wrapper--padding">
    <div class="main-page-content">
        <div class="left-nav">
            {% left_nav page %}
        </div>
    <div class="wrapper wrapper--small wrapper--padding ">
        <div class="content-page-body">
            <div class="content-page-header">
                {{ page.title }}
            </div>
            <div class="newslettersignupcta__body" style="padding: 0 0 20px;">
                {{ page.summary }}
            </div>

            {% include "patterns/blocks/toc.html"  %}

            {% for block in page.body %}

                {% if block.block_type == 'image' %}
                    {% image block.value width-640 as himg%}
                    <img src="{{ himg.url }}" width="{{ himg.width }}"
                    height="{{ himg.height }}" alt="{{ himg.alt }}" class="content-image" >
                {% elif block.block_type == 'video'%}
                    <div class="block-{{ block.block_type }}-{{ block.value.float }} block-{{ block.value.size }}">
                        {% include_block block %}

                    </div>
                {% elif block.block_type == 'embed_html_widget'%}
                    <div class="content-custom-image">
                        {{block.value|safe}}
                    </div>
                {% elif block.block_type == 'custom_image'%}
                    {% include_block block %}
                {% elif block.block_type == 'richtext'%}
                    <div class="content_richtext">
                        {% include_block block %}
                    </div>
                {% else %}
                    <section class="block-{{ block.block_type }}">
                        {% include_block block %}
                    </section>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    </div>
</div>

{% endblock %}
