{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static i18n navigation_tags util_tags %}
{% load left_nav %}
{% get_current_language as language_code %}

{% block content %}

<div class="wrapper wrapper--large wrapper--padding">
    <div class="main-page-content">
        <div class="left-nav">
            {% left_nav page %}
        </div>
        <div>
    <div class="content-page-header">
        {{ page.title }}
    </div>
    <div class="newslettersignupcta__body" style="padding: 0 0 20px;">
        {{ page.description|richtext }}
    </div>
    <form id="filter-form" method="get" action="">
        <div style="margin-bottom: 40px;" class="document-language-links">
            <div>
                {% for publication_filter in page.publication_select_component %}
                    <label class="document__filter-label newslettersignupcta__body" for="document_type">{{ publication_filter.value.select_title }}</label>
                    <div class="document__filter-hint">{{ publication_filter.value.select_hint_text }}</div>
                    <select class="document__filter-select newslettersignupcta__body" id="document_type" name="document_type">
                        <option value="" {% if not selected_document_type %}selected{% endif %}>{{ publication_filter.value.select_default_option_value }}</option>
                        {% for tag in all_document_type_tags %}
                            <option value="{{ tag.slug }}" {% if selected_document_type == tag.slug %}selected{% endif %}>{{ tag.name }}</option>
                        {% endfor %}
                    </select>
                {% endfor %}
            </div>
            <div>
                {% for year_filter in page.year_select_component %}
                <label class="document__filter-label newslettersignupcta__body" for="year">{{ year_filter.value.select_title }}</label>
                <div class="document__filter-hint">{{ year_filter.value.select_hint_text }}</div>
                <select class="document__filter-select newslettersignupcta__body" id="year" name="year">
                    <option value="" {% if not selected_year %}selected{% endif %}>{{ year_filter.value.select_default_option_value }}</option>
                    {% for tag in all_year_tags %}
                        <option value="{{ tag.slug }}" {% if selected_year == tag.slug %}selected{% endif %}>{{ tag.name }}</option>
                    {% endfor %}
                </select>
                {% endfor %}
            </div>
        </div>

    </form>

        {% if documents %}
            {% for document in documents %}
                <div class="document-block">
                        {% define_document_language request.LANGUAGE_CODE document.language.languages as document_language %}
                        {% if document_language %}
                            <a class="home-links" style="margin-top:unset;" href="{{ document_language.document.url }}" target="_blank">
                                {% image document.image fill-220x311 alt=document.image_alt class="story__image" %}
                            </a>
                        {% else %}
                                {% image document.image fill-220x311 alt=document.image_alt class="story__image" %}
                        {% endif %}
                    <div class="document-content">
                        <h2 class="document-heading">{{ document.title }}</h2>
                        <div class="richTextContent newslettersignupcta__body document-body">
                            {{ document.description|richtext }}
                        </div>
                        <div class="document-language">
                            <div style="text-align:unset;" class="basefeature-button__text">{{ document.language.title }}</div>
                            <div class="document-language-links">
                            {% for link in document.language.languages %}
                                <a class="home-links" href="{{ link.document.url }}" target="_blank">{{ link.heading }}</a>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% include "patterns/molecules/pagination/pagination.html" with paginator_page=documents %}
        {% else %}
            <p>No documents found.</p>
        {% endif %}
        </div>
    </div>
    {% if page.jobvacancy_latestnews_snippet %}
                    {% include_block page.jobvacancy_latestnews_snippet.body with latest_news=page.jobvacancy_latestnews_snippet.latest_news news_landing_page=page.jobvacancy_latestnews_snippet.news_landing_page %}
    {% endif %}
</div>
{% if page.news_letter_signup_cta %}
                {% include "patterns/snippets/newslettersignupctasnippet.html" with object=page.news_letter_signup_cta %}
    {% endif %}
<script>
        document.addEventListener('DOMContentLoaded', function () {
            // Trigger form submission when dropdown values change
            document.getElementById('year').addEventListener('change', function() {
                document.getElementById('filter-form').submit();
            });

            document.getElementById('document_type').addEventListener('change', function() {
                document.getElementById('filter-form').submit();
            });
             var richTextContents = document.getElementsByClassName("richTextContent");
            for (var j = 0; j < richTextContents.length; j++) {
                var richTextContent = richTextContents[j];
                if (richTextContent) {
                    var paragraphs = richTextContent.getElementsByTagName("p");
                    for (var i = 0; i < paragraphs.length; i++) {
                        if (i === 0) {
                            paragraphs[i].classList.add("first-p");
                        } else if (i === 1) {
                            paragraphs[i].classList.add("second-p");
                        }
                    }
                    richTextContent.style.display = "block";
                }
                }
        });
    </script>
{% endblock %}