{% extends "patterns/hero_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    <div class="wrapper wrapper--small wrapper--padding ">
        <div class="content-page-body" style="{% if not page.show_on_page %}padding-top: 40px;{% endif %}">
            {% if page.organisation_logo and page.show_on_page %}
                {% image page.organisation_logo original class="job_organisation_logo" alt=page.organisation_logo_alt %}
            {% endif %}
            <div class="job__title">
                {{ page.job_title }}
            </div>
            <div class="job__organisation basefeature-button__text">{{ page.organisation }}</div>
            <div class="job__address base-feature--blue__text">{{ page.address|richtext }}</div>
            <div class="newslettersignupcta__body">{{ page.job_description|richtext }}</div>

            <div class="job__closing_date">
                {{ page.closing_date_title }} {{ page.expire_at|date:"d/m/Y" }}
            </div>
            <div class="jobs__email">
            {{ page.contact_email|richtext }}
            </div>


                {%if page.banner_image and page.show_on_page%}
                    <div class="content-image">
                        {% include_block page.banner_image %}
                    </div>
                {% endif %}
                {% include "patterns/blocks/toc.html"  %}

                {% for block in page.body%}
                    {% include "patterns/molecules/streamfield/blocks/standard_page_body_block.html" with block=block %}
                {% endfor %}
            <div class="jobs-document">
                {% for document in page.job_forms %}
                    <a href="{{ document.value.document.url }}" download="{{ document.value.heading }}" class="basefeature-button__text {% cycle 'even' 'odd' %}">{{ document.value.heading }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="wrapper wrapper--large wrapper--padding">
        {% include_block page.jobvacancy_latest_news_snippet.body with latest_news=page.jobvacancy_latest_news_snippet.latest_news news_landing_page=page.jobvacancy_latest_news_snippet.news_landing_page %}
    </div>
{% if page.news_letter_signup_cta %}
    {% include "patterns/snippets/newslettersignupctasnippet.html" with object=page.news_letter_signup_cta %}
{% endif %}


{% endblock %}
