{% extends "patterns/hero_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}



{% block content %}

    <div class="wrapper wrapper--small wrapper--padding ">
        <div class="content-page-body">

            <div class="content-page-header">
                {{ page.title }}
            </div>

            <p class="timedate">
                {{ page.last_published_custom|date:"j F Y" }}
            </p>


                {%if page.banner_image and page.show_on_page%}
                    <div class="content-image">
                        {% include_block page.banner_image %}
                    </div>
                {% endif %}
                {% include "patterns/blocks/toc.html"  %}

                {% for block in page.body%}
                    {% include "patterns/molecules/streamfield/blocks/standard_page_body_block.html" with block=block %}
                {% endfor %}
        </div>
    </div>
{% if page.jobvacancy_latest_news_snippet %}
                <div class="wrapper wrapper--large wrapper--padding">
                    {% include_block page.jobvacancy_latest_news_snippet.body with latest_news=page.jobvacancy_latest_news_snippet.latest_news %}
                </div>
{% endif %}
{% if page.news_letter_signup_cta %}
    {% include "patterns/snippets/newslettersignupctasnippet.html" with object=page.news_letter_signup_cta %}
{% endif %}


{% endblock %}
