{% extends "patterns/hero_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static util_tags %}


{% block content %}
<div class="wrapper wrapper--large wrapper--padding">
    <div class="main-page-content">
        <div class="left-nav">
            <ul class="left_nav--text">
                <li class="left_nav--main"><a class="current" href="{% pageurl page.news_parent_page %}">{{ page.news_parent_page.title }}</a></li>
                <ul>
                    {% get_news_years as years %}
                    {% for year in years %}
                        <li class="left_nav--child"><a href="{% pageurl page.news_parent_page %}?news_year={{ year }}">{{ year }}</a></li>
                    {% endfor %}
                </ul>
            </ul>
        </div>
    <div class="wrapper wrapper--small wrapper--padding " style="flex: 70%;">
        <div class="content-page-body">

            <div class="content-page-header">
                {{ page.title }}
            </div>

            <p class="timedate">
                {{ page.last_published_custom|date:"j F Y" }}
            </p>


                {%if page.banner_image and page.show_on_page%}
                    <div class="content-image">
                        {% include_block page.banner_image %}
                    </div>
                {% endif %}
                {% include "patterns/blocks/toc.html"  %}

                {% for block in page.body%}
                    {% include "patterns/molecules/streamfield/blocks/standard_page_body_block.html" with block=block %}
                {% endfor %}

            {% if page.news_parent_page %}
            <a href="{% pageurl page.news_parent_page %}" class="office__button">
                    <img src="{% static '/img/icon_left_arrow.svg' %}" alt="left arrow">
                    <span class="office__button--text">
                        {% if page.back_button %}
                            {{page.back_button}}
                        {% else %}
                            Back to News
                        {% endif %}
                    </span>
                </a>
            {% endif %}
        </div>

    </div>
    </div>
{% if page.jobvacancy_latest_news_snippet %}
                <div class="wrapper wrapper--large wrapper--padding">
                    {% include_block page.jobvacancy_latest_news_snippet.body with latest_news=page.jobvacancy_latest_news_snippet.latest_news news_landing_page=page.jobvacancy_latest_news_snippet.news_landing_page %}
                </div>
{% endif %}
</div>
{% if page.news_letter_signup_cta %}
    {% include "patterns/snippets/newslettersignupctasnippet.html" with object=page.news_letter_signup_cta %}
{% endif %}


{% endblock %}
