{% extends "patterns/hero_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}



<div class="container">
  <div class="wrapper wrapper--large wrapper--padding">
    <div class="content-page-header">
      {{ page.title }}
    </div>
      <form>
        <div class="row custom-card-row" style="margin-bottom: 40px;">
          <!-- Filter by Document Type -->
          <div class="col-sm-6 col-md-3 custom-news-card">
            <label for="tagSelect">Filter by document type</label>
            <select id="tagSelect" name="news_tags" onchange="updateFilters()">
              <option value="">Select Tag</option>
              {% for tag in all_tags %}
                <option value="{{ tag.slug }}" {% if selected_tag == tag.slug %}selected{% endif %}>{{ tag.name }}</option>
              {% endfor %}
            </select>
          </div>

          <!-- Filter by Year -->
          <div class="col-sm-6 col-md-4 custom-news-card">
            <label  for="yearSelect">Filter by year</label>
            <select id="yearSelect" name="news_year" onchange="updateFilters()">
              <option value="">Select Year</option>
              {% for year in page.years %}
                <option value="{{ year }}" {% if selected_year == year %}selected{% endif %}>{{ year }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </form>
  </div >


    {% if child_with_tags %}
      {% for child in child_with_tags %}

          {% if forloop.counter0|divisibleby:4 %}
          <div class="row">
          {% endif %}
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="card">
                <div class="card-image">
                  {% for lead in child.lead_fields %}
                    {% if lead.block_type == 'banner_image' %}
                      <div class="card-content">{{lead}}</div>
                    {% endif %}
                  {% endfor %}
                </div>
                <div class="card-content-box">
                  <div class="card-text-content">
                    <div class="card-date">{{ child.last_published_custom|date:"j F Y" }}</div>
                    <div class="card-title">{{child.title}}</div>
                    {% for lead in child.lead_fields %}
                      {% if lead.block_type == 'lead_text' %}
                        <div class="card-content">{{lead}}</div>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <a href="{% pageurl child %}" class="home-links">Read More</a>
                  <div class="card-tags">
                    {% if child.current_tags %}
                      {% for tag in child.current_tags %}
                        <a href="#" class="tag">{{tag.name}}</a>

                      {% endfor %}
                    {% endif %}
                  </div>
                  </div>
                </div>
            </div>
        {% if forloop.counter|divisibleby:4 or forloop.last %}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>

<script>
  function updateFilters() {
    var tagSelectBox = document.getElementById('tagSelect');
    var yearSelectBox = document.getElementById('yearSelect');
    var selectedTag = tagSelectBox.options[tagSelectBox.selectedIndex].value;
    var selectedYear = yearSelectBox.options[yearSelectBox.selectedIndex].value;

    var queryParams = new URLSearchParams(window.location.search);

    if (selectedTag) {
      queryParams.set('news_tags', selectedTag);
    } else {
      queryParams.delete('news_tags');
    }

    if (selectedYear) {
      queryParams.set('news_year', selectedYear);
    } else {
      queryParams.delete('news_year');
    }

    window.location.search = queryParams.toString();
  }
</script>


{% endblock %}

