{% extends "patterns/base_page.html" %}
{% load static wagtailcore_tags wagtailsearchpromotions_tags i18n %}

{% block body_class %}template-searchresults{% endblock %}
     
{% block title %}
    {% if search_query %}
        {% trans 'Search results for' %} &ldquo;{{ search_query }}&rdquo;
    {% else %}
        {% trans 'Search' %}
    {% endif %}
{% endblock %}

{% block content %}

            {% get_search_promotions search_query as search_picks %}

            {% if search_picks %}
                <ul>
                    {% for pick in search_picks %}
                        <li>
                            {% include "patterns/molecules/search-result/search-result.html" with result=pick.page.specific %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="search-results">
                <div class="container-fluid" id="reboot-search-drawer-custom-nav">
                            <div class="wrapper wrapper--large wrapper--padding">
                                {% with count=search_results.paginator.count %}
                                    <div class="search-results__count {% if count %} border--bottom__div {% endif %}">
                                        <h1 class="search--heading">Search Results</h1>
                                        {% if count %}
                                            {{count}} {% trans 'results' %}
                                        {% else %}
                                            0 {% trans 'results' %}
                                        {% endif %}
                                        
                                    </div>
                                {% endwith %}
                                <ul class="ul--no-style">
                                    {% for result in search_results %}
                                        <li class="border--bottom__div">
                                            {% include "patterns/molecules/search-result/search-result.html" with result=result.specific %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                </div>
            </div>
            {% include "patterns/molecules/pagination/pagination.html" with paginator_page=search_results %}
        </div>
    </div>

{% endblock %}
