{% extends "patterns/base_page.html" %}
{% load static wagtailcore_tags wagtailsearchpromotions_tags i18n %}

{% block body_class %}template-searchresults{% endblock %}
     
{% block title %}
    {% if search_query %}
        {% trans 'Search results for' %} &ldquo;{{ search_query }}&rdquo;
    {% else %}
        {% trans 'Search' %}
    {% endif %}
{% endblock %}

{% block content %}

            {% get_search_promotions search_query as search_picks %}

            {% if search_picks %}
                <ul>
                    {% for pick in search_picks %}
                        <li>
                            {% include "patterns/molecules/search-result/search-result.html" with result=pick.page.specific %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if search_results %}

            <div class="search-results">

                {% with count=search_results.paginator.count %}
                    <div class="search-results__count">
                    {% trans 'Results' %} {{ search_results.start_index }}-{{ search_results.end_index }} of {{ count }} search results for <span class="search-results__query">{{ search_query }}</span>.
                    </div>
                {% endwith %}

                <ul>
                    {% for result in search_results %}
                        <li>
                            {% include "patterns/molecules/search-result/search-result.html" with result=result.specific %}
                        </li>
                    {% endfor %}
                </ul>

                {% elif search_query and not search_picks %}
                    {% trans 'No results found.' %}
                {% endif %}
            </div>
            {{search_results}}
            {% include "patterns/molecules/pagination/pagination.html" with paginator_page=search_results %}
        </div>
    </div>

{% endblock %}
