{% load static wagtailcore_tags wagtailimages_tags navigation_tags i18n %}

{% get_current_language as language_code %}
{% footernav as nav %}

<footer class="govie-footer" role="contentinfo">
  <div class="govie-width-container">
    <div class="govie-footer__navigation">
      {% for link in nav.footernav.navigation %}
      {% if link.block_type == 'two_colum_list' %}
      <div class="govie-footer__section govie-grid-column-two-thirds">
        <h2 class="govie-footer__heading govie-heading-m">{{ link.value.heading }}</h2>
            <ul class="govie-footer__list govie-footer__list--columns-2">
              {% for links in link.value.links %}
              <li class="govie-footer__list-item">
                {% if links.title %}
                  <a class="govie-footer__link" href="{{links.page.url}}"> {{ links.title }} </a>
                {% elif links.url %}
                  <a class="govie-footer__link" href="{{links.page.url}}"> {{ links.url }} </a>
                {% else %}
                  <a class="govie-footer__link" href="{{links.page.url}}"> {{ links.page.title }} </a>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
      </div>
      {% elif link.block_type == 'single_colum_list' %}
      <div class="govie-footer__section govie-grid-column-one-third">
        <h2 class="govie-footer__heading govie-heading-m">{{ link.value.heading }}</h2>
        <ul class="govie-footer__list ">
          {% for links in link.value.links %}
          <li class="govie-footer__list-item">
            {% if links.title %}
                  <a class="govie-footer__link" href="{{links.page.url}}"> {{ links.title }} </a>
                {% elif links.url %}
                  <a class="govie-footer__link" href="{{links.page.url}}"> {{ links.url }} </a>
                {% else %}
                  <a class="govie-footer__link" href="{{links.page.url}}"> {{ links.page.title }} </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>

      </div>
      {% elif link.block_type == 'single_column_address' %}
      <div class="govie-footer__section govie-grid-column-one-third">
        <h2 class="govie-footer__heading govie-heading-m">{{ link.value.heading }}</h2>
        {{ link.value.address|richtext }}

      </div>

    {% endif %}
    {% endfor %}
      </div>

    <div class="govie-footer__meta">
      <div class="govie-footer__meta-item govie-footer__meta-item--grow">

        <ul class="govie-footer__inline-list">
          {% for link in nav.footernav.links %}
          <li class="govie-footer__inline-list-item">
            {% if link.value.title %}
                  <a class="govie-footer__link" href="{{ link.value.page.url }}"> {{ link.value.title }} </a>
                {% elif links.url %}
                  <a class="govie-footer__link" href="{{ link.value.page.url }}"> {{ link.value.url }} </a>
                {% else %}
                  <a class="govie-footer__link" href="{{ link.value.page.url }}"> {{ link.value.page.title }} </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        </div>
      <div class="govie-footer__meta-item">
        <a class="govie-footer__link govie-footer__copyright-logo" href="#">
           {% image nav.footernav.logo width-190 height-75 class="header__logo header__mobile" alt=nav.footernav.logo_alt %}
        </a>
      </div>
    </div>
  </div>
</footer>
