{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags wagtailaccessibility_tags i18n %}
{% wagtail_site as current_site %}
<!doctype html>
<html lang="en-GB">
    <head>
        {# TODO fallbacks if page is not defined e.g. for 404 page #}
        <meta charset="utf-8" />
        <title>{% block title_prefix %}{% if current_site and page.pk == current_site.root_page.pk and current_site.site_name %}{{ current_site.site_name }} | {% endif %}{% endblock %}{% block title %}{% firstof page.seo_title page.title %}{% endblock %}{% block title_suffix %}{% if current_site and page.pk != current_site.root_page.pk and current_site.site_name %} | {{ current_site.site_name }}{% endif %}{% endblock %}</title>
        <meta name="description" content="{% if page.search_description %}{{ page.search_description }}{% else %}{{ page.listing_summary }}{% endif %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />


        {% block meta_tags %}{% endblock %}

        {% tota11y %}

        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap_3_4_1/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">


        <script src="{% static 'jquery_1_12_4/jquery-1.12.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap_3_4_1/js/bootstrap.min.js' %}"></script>
        <link rel="shortcut icon" href="{{ fav.url }}"/>

        <!-- glidejs -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

        {% block extra_css %}{% endblock %}
        <script type="text/javascript" src="https://cdn.cookielaw.org/consent/587affe4-c69d-4222-b532-bf8caeaa4e67-test/OtAutoBlock.js" async></script>
        <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8" data-domain-script="587affe4-c69d-4222-b532-bf8caeaa4e67-test" async></script>
        <script type="text/javascript" async>
            function OptanonWrapper() { }
        </script>
               <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    {% if path_info.content %}
    <div id="warning-url" class="warning-url">
        <div class="warning-url__flex">
            <div class="base-img"></div>
            <div>
                <h3 class="warning-url__text">{{settings.cib_navigation.SiteSettings.nav_banner_warning_text}} </h3>
                <div class="warning-url__url">The publicly shareable link is <a style="text-decoration: underline;" href="//{{path_info.host}}{{request.path}}">{{path_info.host}}{{request.path}}</a></div>
            </div>
        </div>
    </div>
    {% endif %}

    <body class="{% block body_class %}template-{{ page.get_verbose_name|slugify }}{% endblock %}">
        {% block body_top %}{% endblock %}
        {% include "patterns/atoms/sprites/sprites.html" %}
        {% wagtailuserbar %}

            {% block header %}
            {% endblock %}

        <main class="wrapper wrapper--main main" id="main-content">
            {% block content %}
                {{ pattern_library_rendered_pattern }}
            {% endblock %}
            {% block web_chat_widget %}{% endblock %}
        </main>
        {% block betatag %}{% endblock %}
        {% block footer %}{% endblock %}

        <script src="{% static 'js/main.js' %}"></script>

        {% block extra_js %}{% endblock %}
    </body>
</html>
