{% extends "patterns/base.html" %}

{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags i18n %}
{% wagtail_site as current_site %}

{% block meta_tags %}

<!-- Google Tag Manager -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.js" integrity="sha512-CX7sDOp7UTAq+i1FYIlf9Uo27x4os+kGeoT7rgwvY+4dmjqV0IuE/Bl5hVsjnQPQiTOhAX1O2r2j5bjsFBvv/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8SKCHMSHZP"></script>

{% endblock meta_tags %}


{% block header %}
    {% include "patterns/organisms/header/header.html" with page=page %}
{% endblock header %}


{% block footer %}
    {% include "patterns/organisms/footer/footer.html" with page=page %}
{% endblock footer %}

{% block extra_js %}

{% endblock extra_js %}
