{% load static wagtailcore_tags wagtailimages_tags i18n navigation_tags %}
{% primarynav as nav %}


<nav class="navbar navbar-default x" role="navigation" aria-labelledby="RebootSrMainMenuNav" id="main-navbar">

    <div class="wrapper--large">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#RebootMainMenu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
                {% if nav.site_settings.site_logo %}
                    {% image nav.site_settings.site_logo original class="header__logo header__mobile" alt=custom_header_settings.site_settings.site_logo_alt %}
                {% else %}
                    {% include "patterns/atoms/image/default_logo.html" %}
                {% endif %}
            </a>
        </div>
        <div class="collapse navbar-collapse" id="RebootMainMenu">
            <h2 class="sr-only" id="RebootSrMainMenuNav" style="color: #FFF;">
                {{ text_main_navigation|capfirst }}
                {{ navbar_items }}
            </h2>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown navbar-menu--items">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="arrow--contain">{% include "patterns/atoms/icons/icon.html" with name="arrow" classname="mega_menu__icon" %}</span> Menu
                    </a>
                    <ul class="dropdown-menu">
                        {% for link in nav.primarynav %}
                        {% translated_page link.value.page as trans %}
                        {% if link.value.title %}
                            <li><a class="index-a" href="{% pageurl trans %}">{{ trans.title }}</a></li>
                        {% else %}
                            <li><a class="index-a" href="{% pageurl trans %}">{{ trans }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                    <div class="col-sm-12 col-xs-12 hidden-lg hidden-md margin-bottom-sm"></div>
                </li>
                <li class="dropdown navbar-menu--items__lang">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="arrow--contain">{% include "patterns/atoms/icons/icon.html" with name="arrow" classname="mega_menu__icon" %}</span> Language
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="index-a" href="">{{page.locale}}</a></li>
                            {% if page.get_translations.live %}
                                {% for trans in page.get_translations.live %}
                                    <li><a class="index-a" href="{% pageurl trans %}">{{trans.locale}}</a></li>
                                {% endfor %}
                            {% endif %}
                    </ul>
                    <div class="col-sm-12 col-xs-12 hidden-lg hidden-md margin-bottom-sm"></div>
                </li>
                <li id="custom-search-icon" class="hidden-sm hidden-xs" reboot-search-drawer-trigger="">
                    <span class="pointer" role="button" aria-label="Toggle search menu" tabindex="0">
                        <img src="{% static 'img/Icon_Search.png' %}" alt="Image: Search button" aria-hidden="true">
                    </span>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" id="reboot-search-drawer-custom-nav" style="background-color: #E4DED0" reboot-search-drawer>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                {% include 'patterns/organisms/header/search_form_nav.html' with nav=nav %}
            </div>
        </div>
    </div>
</div>
{% get_current_language as language_code %}
