{% load wagtailcore_tags  wagtailimages_tags %}

{% if self.image %}
<div class="content-custom-image" style="display: flex; justify-content: {{self.format}};">
    <figure style="margin-left:0;text-align: {{self.caption_align}};">
        {% if self.size == "200" %}

            {% image self.image width-200 as img %}
            <img src="{{img.url}}" alt="{{ self.alt_text}}" >
        {% elif self.size == "400" %}

            {% image self.image width-400 as img %}
            <img src="{{img.url}}" alt="{{ self.alt_text}}" class="custom-image">
        {% else %}
            {% image self.image width-800 as img %}
            <img src="{{img.url}}" alt="{{ self.alt_text}}" class="custom-image">
        {% endif %}

        {% if self.caption %}
            <figcaption>{{self.caption}}</figcaption>
        {% endif %}
    </figure>
</div>
{% endif %}

