{% load wagtailcore_tags  wagtailimages_tags %}
<div class="document-block">
                    {% image value.image fill-220x311 alt=value.image_alt class="story__image" %}
                    <div>
                        <h2 class="document-heading">{{ value.title }}</h2>
                        <div class="richTextContent newslettersignupcta__body document-body">
                            {{ value.description|richtext }}
                        </div>
                        <div class="document-language">
                            <div style="text-align:unset;" class="basefeature-button__text">{{ value.language.title }}</div>
                            <div class="document-language-links">
                            {% for link in value.language.languages %}
                                <a class="home-links" href="{{ link.document.url }}" target="_blank">{{ link.heading }}</a>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

<script>
        document.addEventListener('DOMContentLoaded', function () {
            var richTextContents = document.getElementsByClassName("richTextContent");
            for (var j = 0; j < richTextContents.length; j++) {
                var richTextContent = richTextContents[j];
                if (richTextContent) {
                    var paragraphs = richTextContent.getElementsByTagName("p");
                    for (var i = 0; i < paragraphs.length; i++) {
                        if (i === 0) {
                            paragraphs[i].classList.add("first-p");
                        } else if (i === 1) {
                            paragraphs[i].classList.add("second-p");
                        }
                    }
                    richTextContent.style.display = "block";
                }
            }
        });
    </script>
