{% load querystring_modify static wagtailcore_tags wagtailsearchpromotions_tags i18n %}
{% if paginator_page.paginator.num_pages > 1 %}

<nav aria-label="{% trans 'Pagination' %}" class="pagination">
    <ul class="pagination__list">
        {% if paginator_page.has_previous %}
            <li>
                <a href="{% querystring_modify page=paginator_page.previous_page_number %}" class="previous pagination__link"  rel="prev" aria-label="{% trans 'Go to previous page' %}">
                    {% include "patterns/atoms/icons/icon.html" with name="arrow" classname="pagination__icon pagination__icon--prev" %}
                </a>
            </li>
        {% endif %}
        {% for p in paginator.page_range %}
        <li class="current" aria-current="page">
            <a href="{% querystring_modify page=p %}" class="pagination__link pagination__link--active" aria-label="{% blocktrans %} Current Page, Page {{ paginator_page.number }} of {{ paginator_page.paginator.num_pages }} pages {% endblocktrans %}" aria-current="page">
                {{ p }}
            </a>
        </li>
        {% endfor %}

        {% if paginator_page.has_next %}
            <li>
                <a href="{% querystring_modify page=paginator_page.next_page_number %}" class="next pagination__link" rel="next" aria-label="{% trans 'Go to next page' %}">
                    {% include "patterns/atoms/icons/icon.html" with name="arrow" classname="pagination__icon pagination__icon--next" %}
                </a>
            </li>
        {% endif %}
    </ul>
</nav>{% endif %}
