html { height: 100%; margin: 0px; }
body { font-family: 'Lato', sans-serif !important; font-size: 16px !important; height: 100%; margin: 0px; color: #000000 !important; }

a .glyphicon-new-window { margin-left: 2.5px; font-size: 14px; }

.margin-none { margin: 0px; }
.padding-none { margin: 0px; }

.margin-top-lg { margin-top: 50px; }
.margin-top-md { margin-top: 30px; }

.margin-bottom-lg { margin-bottom: 50px; }
.margin-bottom-md { margin-bottom: 20px; }
.margin-bottom-sm { margin-bottom: 15px; }
.margin-bottom-xs { margin-bottom: 10px; }
.margin-bottom-none { margin-bottom: 0px; }



.wrapper--small {
  max-width: 920px;
  margin: 0 auto;
}
@media (max-width: 342px) {
.wrapper--logo{
  padding: 0px;
}
}
@media (min-width: 341px) and (max-width: 991px) {
.wrapper--logo{
  padding-left: 20px;
}
}
@media (min-width: 992px) {
.wrapper--logo{
    padding: 0 20px;
}
}
.wrapper--logo{
  max-width: 1290px;
  margin: 0 auto;
}
.wrapper--large {
  padding: 0 20px;
  max-width: 1290px;
  margin: 0 auto;
}

@media (min-width: 992px) {
.wrapper--large--padding {
  padding: 20px 63px;
  margin: 0 auto;
}
}
@media (max-width: 992px) {
.wrapper--large--padding {
  padding: 20px 20px;
}
}
.g2g-sites-cookie-consent { background-color: #F6F6F2; padding: 30px 0px 30px 0px; }
.g2g-sites-cookie-consent h2 { font-size: 21px; font-weight: bold; margin: 0px; padding: 0px; margin-bottom: 10px; }
.g2g-sites-cookie-consent h3 { font-size: 18px; font-weight: bold; margin: 0px; padding: 0px; margin-bottom: 10px; }
.g2g-sites-cookie-consent h4 { font-size: 16px; font-weight: bold; margin: 0px; padding: 0px; margin-bottom: 10px; }
.g2g-sites-cookie-consent .btn-success,
.g2g-sites-cookie-consent .btn-success:hover,
.g2g-sites-cookie-consent .btn-success:active { border-radius: 0px; border: 0px; background-color: #007a2f; font-size: 16px; padding: 10px; text-decoration: none; color: #FFFFFF; }

.navbar-nav .dropdown-menu > li > a {
    font-size: 16px;
    font-family: 'Lato';
    font-weight: 700;
    font-style: normal;
}
@media (min-width: 992px) {
    .container { width: 975px; }
}


/* Visual improvements for accessibility */


.form-control:focus { outline: #7f7f7f solid 2px !important; }

.index-a {
    text-decoration: none !important;
    z-index: 1;
}


@media (min-width: 992px) {
  .navbar-menu--items__lang {
      border-left: 1px solid #0094C9;
      padding-right: 20px;
  }

  .navbar-menu--items {
      border-left: 1px solid #0094C9;
      padding-left: 15px;
      padding-right: 20px;
  }
}
/*
Bootstrap override
*/
.navbar {
    border-bottom: 5px solid #0094C9 !important;

    margin-bottom: 0 !important;
}

:root {
  --govie-text-colour: #0b0c0c;
  --govie-focus-colour: #fd0;
  --govie-focus-text-colour: #0b0c0c;
  --govie-header-footer-border-colour: #B1B4B6;
  --govie-footer-surface-colour: #F5F5F5;
}


.content_richtext a {
  text-decoration: none;
  border-bottom: 1px solid #0056b3;
  color: #0056b3;
  font-family: Lato, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration-line: none;
}

.content_richtext a:hover {
  text-decoration-line: none;
  border-bottom: 3px solid #0056b3;
}
.content_richtext a:focus {
  outline: none !important;
  color: var(--govie-focus-text-colour);
  background-color: var(--govie-focus-colour);
  box-shadow: 0 -2px var(--govie-focus-colour);
  text-decoration: none;
}
.content-anchorlinks a:link,
.content-anchorlinks a:visited {
  color: #0056b3;
}

.content_richtext a:active,
.content_richtext a:focus {
  color: #0056b3;
}


.govie-heading-m {
  color: var(--govie-text-colour);
  font-family: Lato, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 1.11111;
  display: block;
  margin-top: 0;
  margin-bottom: 15px;
}
@media (min-width: 40.0625em) {
  .govie-heading-m {
    font-size: 22px;
    line-height: 1.25;
  }
}
@media (min-width: 40.0625em) {
  .govie-heading-m {
    margin-bottom: 20px;
  }
}

.govie-grid-column-one-third {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
}
@media (min-width: 40.0625em) {
  .govie-grid-column-one-third {
    width: 33.3333%;
    float: left;
  }
}
.govie-grid-column-two-thirds {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
}
@media (min-width: 40.0625em) {
  .govie-grid-column-two-thirds {
    width: 66.6666%;
    float: left;
  }
}

@supports (margin: max(calc(0px))) {
  .govie-width-container {
    margin-right: max(15px, calc(15px + env(safe-area-inset-right)));
    margin-left: max(15px, calc(15px + env(safe-area-inset-left)));
  }
}

@media (min-width: 40.0625em) {
  .govie-width-container {
    margin-right: 30px;
    margin-left: 30px;
  }
  @supports (margin: max(calc(0px))) {
    .govie-width-container {
      margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
      margin-left: max(30px, calc(15px + env(safe-area-inset-left)));
    }
  }
}

@media (min-width: 1025px) {
  .govie-width-container {
    margin-right: auto;
    margin-left: auto;
  }
  @supports (margin: max(calc(0px))) {
    .govie-width-container {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.govie-footer {
  font-family: Lato, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14286;
  padding-top: 25px;
  padding-bottom: 15px;
  color: var(--govie-text-colour);
  background: var(--govie-footer-surface-colour);
}

@media (min-width: 40.0625em) {
  .govie-footer {
    font-size: 16px;
    line-height: 1.25;
    padding-top: 40px;
    padding-bottom: 25px;
  }
}

.govie-footer__link {
  font-family: Lato, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration-line: none;
  border-bottom: 1px solid #000;
}

.govie-footer__link:hover {
  text-decoration-line: none;
  border-bottom: 3px solid #000;
}
.govie-footer__link:focus {
  outline: none !important;
  color: var(--govie-focus-text-colour);
  background-color: var(--govie-focus-colour);
  box-shadow: 0 -2px var(--govie-focus-colour);
  text-decoration: none;
}
.govie-footer__link:link,
.govie-footer__link:visited {
  color: var(--govie-text-colour);
}

.govie-footer__link:active,
.govie-footer__link:focus {
  color: var(--govie-text-colour);
}


.govie-footer__meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
  border-top: 1px solid var(--govie-header-footer-border-colour);
}
.govie-footer__meta-item {
  margin-bottom: 25px;
}
.govie-footer__meta-item--grow {
  -ms-flex: 1;
  flex: 1;
}
@media (max-width: 40.0525em) {
  .govie-footer__meta-item--grow {
    -ms-flex-preferred-size: 320px;
    flex-basis: 320px;
  }
  .govie-footer__section {
    margin-bottom: 40px;
  }
  .govie-footer__navigation{
    padding-bottom: 0;
  }
}

.govie-footer__copyright-logo {
  outline: none !important;
  min-width: 190px;
  background-image: url(assets/images/logotype.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 190px 65px;
  text-align: center;
  white-space: nowrap;
}


.govie-footer__inline-list {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 0;
}
.govie-footer__inline-list-item {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 5px;
}
.govie-footer__heading {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--govie-header-footer-border-colour);
  font-weight: 700!important;
}
@media (max-width: 40.0525em) {
  .govie-footer__heading {
    padding-bottom: 10px;
  }
}
.govie-footer__navigation {
  margin-right: -15px;
  margin-left: -15px;
}
.govie-footer__navigation:after {
  content: "";
  display: block;
  clear: both;
}
.govie-footer__section {
  display: inline-block;
  vertical-align: top;
}
.govie-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-column-gap: 30px;
  column-gap: 30px;
}
@media (min-width: 48.0625em) {
  .govie-footer__list--columns-2 {
    -webkit-column-count: 2;
    column-count: 2;
  }
}
.govie-footer__list-item {
  margin-bottom: 15px;
}
@media (min-width: 40.0625em) {
  .govie-footer__list-item {
    margin-bottom: 20px;
  }
  .govie-footer__section {
    margin-bottom: 20px;
  }
  .govie-footer__navigation {
    padding-bottom: 40px;
  }
}
.govie-footer__list-item:last-child {
  margin-bottom: 0;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


.mega_menu__icon{
    stroke: #000000;
    color: #000000;
    height: 12px;
    width: 12px;
}

/*===========================================================================*/
/* BOOTSTRAP NAVBAR EXTENSION */
#main-navbar .navbar-collapse { border-width: 0px;}
#main-navbar {height: 90px; padding: 5px 0px; background-color: #FFFFFF; border-radius: 0px; border-width: 0px; margin-bottom: 0px; }
#main-navbar ul.dropdown-menu { border-radius: 0px; min-width: 213px; z-index: 1001;}
#main-navbar.navbar-default .navbar-nav > li > a,
#main-navbar.navbar-default .navbar-nav > li > a:hover { color: #000000; background-color: #FFFFFF; font-size: 18px; line-height: 44px !important;}
.navbar-right {
  background-color: #FFFFFF;
}
#main-navbar{
  z-index: 2;
  font-family: 'Lato';
  font-style: normal;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
}

#main-navbar .navbar-brand { padding: 0px; }
#main-navbar .navbar-nav li.separator > img { width: auto; }
#main-navbar .navbar-brand > img { width: auto; }
#main-navbar [reboot-search-drawer-trigger] { width: 69px; height: 90px; margin-top: -5px; margin-bottom: -5px; padding-top: 5px; padding-bottom: 5px; }
#main-navbar [reboot-search-drawer-trigger] img {  height: 20px;
  width: 20px; }
#main-navbar [reboot-search-drawer-trigger] span { padding: 24px 15px 14.5px 24px; display: inline-block; max-width: 100%; margin-bottom: 5px; font-weight: bold; }
[reboot-search-drawer] { background-color: #EEEFEF !important; padding: 15px 0px; display: none; }
#main-navbar [reboot-search-drawer-trigger-mobile] { width: 69px; height: 90px; margin-top: -5px; margin-bottom: -5px; padding-top: 5px; padding-bottom: 5px; }
#main-navbar [reboot-search-drawer-trigger-mobile] img {  height: 20px;
  width: 20px; }
#main-navbar [reboot-search-drawer-trigger-mobile] span { padding: 24px 15px 14.5px 24px; display: inline-block; max-width: 100%; margin-bottom: 5px; font-weight: bold; }

.custom-search-icon {background-color: #0094C9 !important;}
@media (min-width: 767px){
    .navbar > .container .navbar-brand { margin-left: 0px; }
    .custom-search-mobile{display: none;}
}
@media (max-width: 767px){
    .container>.navbar-header { margin-left: 0px; }
    #main-navbar .navbar-brand { margin-left: 10px; }
    #main-navbar.navbar-default .navbar-nav .dropdown-menu > li > a {background-color: #FFFFFF; color: #000000; }
    #main-navbar.navbar-default .navbar-nav .dropdown-menu > li > a:hover { color: #E6E6E6; }
    .navbar-mobile-right{display: flex; flex-direction: row; justify-content: flex-end;}
    .custom-search-mobile{display: block;}
    .navbar-toggle { display: block; margin-right: 0px; margin-top: 0px;}
}
@media (min-width: 768px) and (max-width: 992px) {
    #main-navbar .navbar-brand { padding-left: 10px; }
    .navbar-header { float: none; }
    .navbar-toggle { display: block; margin-right: 0px; margin-top: 0px; }
    .navbar-collapse { border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); }
    .navbar-collapse.collapse { display: none !important; }
    .navbar-nav { float: none !important; margin: 7.5px -15px; }
    .navbar-nav > li { float: none; }
    .navbar-nav > li > a { padding-top: 10px; padding-bottom: 10px; }
    .collapse.in { display: block !important; }
    .navbar-mobile-right{display: flex; flex-direction: row; justify-content: flex-end;}
    .custom-search-mobile{display: block;}
    .navbar-nav .open .dropdown-menu {
       position: static; float: none; width: auto; margin-top: 0; background-color: #FFFFFF; border: 0; -webkit-box-shadow: none; box-shadow: none; }
    #main-navbar.navbar-default .navbar-nav .dropdown-menu > li > a { color: #000000; background-color: #FFFFFF; }
    #main-navbar.navbar-default .navbar-nav .dropdown-menu > li > a:hover { color: #E6E6E6; background-color: #FFFFFF; }
}


.arrow--contain {
  padding-right: 8px;
}
/*===========================================================================*/
/* BOOTSTRAP CONTAINER EXTENSION */
@media (min-width: 992px){
    .container { width: 1312px; }
}


@media (max-width: 992px){
  .navbar-toggle {
    border-radius: 0px; border-width: 0px; padding-top: 25px; font-size: 18px; }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      border-color: #FFFFFF !important;
      background-color: #FFFFFF !important;
    }
    .icon-bar {
      background-color: #000000 !important;
    }
}


/*===========================================================================*/
/* BOOTSTRAP BUTTON EXTENSION */
.btn.btn-state-green,
.btn.btn-state-green:active,
.btn.btn-state-green:hover { background-color: #0094C9; border: 1px solid #0094C9; color: #FFFFFF; border-radius: 0px; }

.btn.btn-lg img { height: 16px; }

.input-group-nav-custom {
  background-color: #EEEFEF;
  padding: 10px;
}

/*===========================================================================*/
/* BOOTSTRAP FORM EXTENSION */
.form-control { border-radius: 0px; border: 1px solid #9A9791; }
textarea { resize: none; }

/* General homepage container */
.home-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}
.callout__flex{
    row-gap: 40px;
}

.info-box-1 {
  flex: 20%;
  width: 15%;
}

@media screen and (max-width: 1024px) {
  .info-box-1 {
    flex: 45%;
  }
}

@media screen and (max-width: 600px) {
  .home-container {
    flex-direction: column;
  }
}
/* End of general homepage container */

/* call out cards*/

.col-md-4-custom {
  height: 100%;
  margin-bottom: 20px;
  margin-top: 40px;
}

.row-custom {
  height: 100%;
}
.info-box {
display: flex;
 flex-flow: column nowrap;
  z-index: 1;
  position: relative;
  background-color: #FFFFFF;
  flex: 30%;
}
@media (max-width: 1024px){
.info-box {
  flex: 45%;
}
}
.info-box {
  padding: 40px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-left: 7px solid transparent;
}

.info-header {
  display: flex;
  align-items: flex-end;
}

.info-box .info-icon {
  margin-right: 10px;
  height: 55px;
  width: 55.15px;
}


.info-box h3 {
  color: #000000;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
}

.info-box p {
  color: #000000;
  margin: 40px 0;
  white-space: normal;
  word-wrap: break-word;
  font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
.home-links {
  text-decoration: none;
  border-bottom: 1px solid #0056b3;
  color: #0056b3;
  font-family: Lato, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration-line: none;
  align-self: flex-start;
  margin-top: auto;
  font-size: 19px;
}

.home-links:hover {
  text-decoration-line: none;
  border-bottom: 3px solid #0056b3;
}
.home-links:focus {
  outline: none !important;
  color: var(--govie-focus-text-colour);
  background-color: var(--govie-focus-colour);
  box-shadow: 0 -2px var(--govie-focus-colour);
  text-decoration: none;
}
.home-links:link,
.home-links:visited {
  color: #0056b3;
}

.home-links:active,
.home-links:focus {
  color: #0056b3;
}

@media (max-width: 1280px) {
  .home-container{
    height: auto;
    width: auto;
    margin: 0;
  }

  .info-box {
    width: auto;
  }
  .info-box p {
    color: #000000;
    margin: 10px 0;
    white-space: normal;
    word-wrap: break-word;
    bottom: auto;
  }
}
/* End of call out cards*/

/* Info panels */

.info-box-1 {
  background-color: #F5F5F5;
  border-radius: 4px;
  padding: 40px;
  text-align: center;
  position: relative;
  margin-bottom: 40px;
  display: flex;
 flex-flow: column nowrap;
}

.icon-holder {
  height: 60px;
  width: 60px;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-box-1 .info-icon {
  max-width: 100%;
  height: auto;
}

.info-box-1 h3 {
  color: #000000;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  margin-bottom: 0;
}

.info-box-1 p {

  margin-top: 40px;
  margin-bottom: 40px;
  color: #000000;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 19px;
  line-height: 25px;

}

.info-box-1 a {
  color: #0056b3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: center;
}

.info-box-1 a .fa,
.info-box-1 a .fa-arrow-right {
  color: inherit;
  margin-left: 5px;
}


/* Media query for responsiveness */
@media (max-width: 1100px) {

  .resp-md-3 {
    margin-bottom: 20px;
    width: 60%;
  }

  .info-box-1 h3 {
    color: #000000;
    font-weight: bold;
    margin-bottom: 0;
  }
  .info-box-1 p {

    margin-top: 30px;
    margin-bottom: 30px;
    color: #000000;

  }
}
/* Media query for responsiveness */
@media (max-width: 768px) {

  .info-box-1 {
    padding: 25px;
    width: auto;
    position: relative;
  }

  .resp-md-3 {
    margin-bottom: 20px;
    width: 100%;
  }

}
/* End ofInfo Panels */

/* Job Vacancies */

.callout {
  width: 100%;
  position: relative;
  padding: 30px 30px 40px 40px;
  border-radius: 4px;
  color: white;
  margin-bottom: 40px;
  border-radius: 10px;
  display: flex;
 flex-flow: column nowrap;
 gap: 20px;
 justify-content: space-between;
}
@media (min-width: 1024px){
.callout-left {
  flex: 45%;
}

.callout-right {
  flex: 45%;
}
}

.callout .info-icon {
  margin-right: 10px;
  height: 55px;
  width: 55.15px;
  opacity: 100%;
  color: #C8E6AA;
}

.job_vancancy_block_title {
  color: #000000;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
}

.job_vancancy_title p {
    color: #000;

    /* Desktop/Paragraph/Body */
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.callout-link {
  text-decoration-line: none;
  border-bottom: 1px solid #000;
  color: #000000 !important;
  position: absolute;
  bottom: 40px;
  left: 20px;

}


.callout-link i {
  margin-left: 5px;
}

@media (max-width: 900px) {

  .callout-left {
    border-radius: 10px;
  }

  .callout-right {
    border-radius: 10px;
  }
}

/* End of Job Vacancies */

/* Info Panels */


.search-nav-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #0B0C0C;
}


#search-drop {
  height: 50px;
}

.input-group-addon, .input-group-btn {
    width: unset;
}

.ul--no-style { list-style-type: none; padding: 0; }

.popular_links--search {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: underline;
  padding-bottom: 20px;
}

.index-a--popular {color: #000000 !important;}

.board_member_card_flex {
    display: flex;
  flex-wrap: wrap;
  gap: 20px 32px;
}

@media (min-width: 768px) {
.board_member_card {
    flex: 1 1 30%;
}
}

.board_member_card {
    display: block;
    overflow: hidden;
    max-width: 300px;
}

    .board_member_card__image-container {
        height: 200px;
        overflow: hidden;
        position: relative;

    }
    .board_member_card__image {
        position: relative;
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 5px 5px 0px 0px;
    }

    .board_member_card__content {
        padding: 20px;
    }

    .board_member_card__title {
         color: var(--CIB_Dark_blue, #005F81);
        font-family: 'Lato', sans-serif !important;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        margin-top: 0;
    }
    .board_member_card__summary {
        overflow-wrap: break-word;
        word-wrap: break-word;
        color: #000;
        font-family: 'Lato', sans-serif !important;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        margin-top: 10px;
    }
@media (min-width: 1025px) {
.hero {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
}
@media (max-width: 1024px) and (min-width: 375px) {
  .search-nav-text {
    margin-top: 10px;
  }
  .hero {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}
}
@media (max-width: 376px) {
.hero {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
}
.hero::before {
  content: '';
  display: block;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1;
}
@media (min-width: 992px) {
.hero__contents{
    width: 50%;
    float: left;
}

}
@media screen and (max-width: 1024px){
    .hero__contents{
        width: 100%;
        }
}

/* default wrapper override */
.wrapper--hero {
  max-width: 100% !important;
}

.basefeature-header {
    display: flex;
    gap: 20px;
    align-items: center;
}
.base-feature--blue__button{
    background: var(--CIB_Green, #8AC640);
}
.base-feature--green__button{
    background: var(--CIB_Blue, #005F81);
}
.basefeature-button {
    align-self: flex-start;
    border-radius: 4px;
    box-shadow: 0px -1px 0px 0px #002D18 inset;
    padding: 16px;
    color: #000;
    text-decoration: none;
}
.base-feature--blue__button:hover, .base-feature--green__button:hover {
    border-radius: 4px;
    background: #4F791B;
    box-shadow: 0px -1px 0px 0px #002D18 inset;
    color: #FFF;
    text-decoration: none;
}
.base-feature--blue__button:focus, .base-feature--green__button:focus {
    border-radius: 4px;
    outline: 3px solid var(--Other-Yellow, #FD0);
    background: #4F791B;
    color: #FFF;
    text-decoration: none;
}

.base-feature--blue__button:active, .base-feature--green__button:active {
    border-radius: 4px;
    outline: 2px solid var(--Border-Input, #0B0C0C);
    background: var(--Focus-Default, #FD0);
    box-shadow: 0px -1px 0px 0px #000 inset;
    text-decoration: none;
    color: #000;
}

.basefeature-button__text {
    color: #000;

    text-align: center;
    /* Desktop/Paragraph/Body • Bold */
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 131.579% */
}


.base-feature--blue__heading {
    color: #FFF;

    font-family: Lato;
    font-size: 32.538px;
    font-style: normal;
    font-weight: 700;
    line-height: 36.154px;
}

.base-feature--green__heading {
   color: #000;
    /* Mobile/Heading/Extra Large */
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
}

.basefeature--green__links {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.basefeature--green-link {
    align-self: flex-start;
    text-decoration: none;
}

.basefeature--green-link span {
    color: #000;
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #000;
}

.basefeature--green-link:hover {
  color: #000;
  text-decoration: none;
  }

.basefeature--green-link:hover span,
.basefeature--green-link span:hover {
    color: #000;
    text-decoration: none;
    border-bottom: 3px solid #000;
}

.basefeature--green-link:focus span,
.basefeature--green-link span:focus {
    outline: none !important;
    color: var(--govie-focus-text-colour);
    background-color: var(--govie-focus-colour);
    box-shadow: 0 -2px var(--govie-focus-colour);
    text-decoration: none;
}
.basefeature--green-link:active,
.basefeature--green-link:focus {
    color: #000;
     text-decoration: none;
}

.basefeature--green-link span:active,
.basefeature--green-link span:focus {
    color: #000;
}
.base-feature--default {
  width: 100%;
  min-height: 358px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 25px;
  padding: 40px;
  gap: 40px;
  height: 100%;
}

.base-feature--blue {
  background: #005F81;
  display: flex;
  color: #FFFFFF;
  flex-direction: column;
  justify-content: space-between;
}

.base-feature--blue__text {
    color: #FFF;

    /* Desktop/Paragraph/Body */
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 131.579% */

}


.base-feature--green {
  background: #8AC640;
  color: #000000;
  display: flex;
  flex-direction: column;
}

.hero-container {
  padding-top: 40px;
  position: relative;
  z-index: 1;
  overflow: visible;
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
}

.newslettersignupcta--background{
    background: #E9E9E9;
}

.newslettersignupcta{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.newslettersignupcta__icon {
    width: 96px;
    height: 96px;
}
@media (min-width: 992px) {
.newslettersignupcta__total_body{
    margin-left: 40px;
    margin-right: 100px;
}
.newslettersignupcta{
    padding-top: 30px;
    padding-bottom: 30px;
}
.newslettersignupcta__body{
    padding-top: 20px;
}
}
@media (max-width: 992px) {
.newslettersignupcta__total_body{
    text-align:center;
}
.newslettersignupcta {
    padding-top: 52px;
    padding-bottom: 52px;
    gap: 30px;
    flex-wrap: wrap;
}
.newslettersignupcta__body {
    padding-top: 30px;
}
}
.newslettersignupcta__title {
    color: #000;

    /* Mobile/Heading/Large */
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 104.167% */
}
.newslettersignupcta__body {
    color: #000;

    /* Desktop/Paragraph/Body */
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 131.579% */
}

.newslettersignupcta__button {
    border-radius: 4px;
    background: var(--CIB_Green, #8AC640);
    box-shadow: 0px -1px 0px 0px #002D18 inset;
    text-decoration: none;
    color: #000;
    padding: 8px 12px;
    min-width: 243px;
    min-height: 47px;
    text-align: center;
}

.newslettersignupcta__button:hover {
    border-radius: 4px;
    background: #4F791B;

    box-shadow: 0px -1px 0px 0px #002D18 inset;
    color: #FFF;
    text-decoration: none;
}
.newslettersignupcta__button:focus {
    border-radius: 4px;
    outline: 3px solid var(--Other-Yellow, #FD0);
    background: #4F791B;
    color: #FFF;
    text-decoration: none;
}

.newslettersignupcta__button:active {
    border-radius: 4px;
    outline: 2px solid var(--Border-Input, #0B0C0C);
    background: var(--Focus-Default, #FD0);
    box-shadow: 0px -1px 0px 0px #000 inset;
    text-decoration: none;
    color: #000;
}

/* Content Page */
.content-page{
  position: absolute;
  right: 35px;

}

.content-page-body{
  margin-bottom: 40px;

}

.content-page-header{
  margin: 40px 0 20px;
  font-family: Lato;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  color: #005F81;
}

.content-heading{
  margin: 20px 0;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #005F81;
}

.content-anchorlinks{
  margin: 10px 0;
  font-family: Lato;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  color: #005F81;
}
ul.content-anchorlinks {
  list-style-type: none;
}

ul.content-anchorlinks li::before {
  content: "- ";
  padding-right: 5px;
}

.content-anchorlinks a {
  text-decoration: none;
  border-bottom: 1px solid #0056b3;
  color: #0056b3;
  font-family: Lato, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration-line: none;
}

.content-anchorlinks a:hover {
  text-decoration-line: none;
  border-bottom: 3px solid #0056b3;
}
.content-anchorlinks a:focus {
  outline: none !important;
  color: var(--govie-focus-text-colour);
  background-color: var(--govie-focus-colour);
  box-shadow: 0 -2px var(--govie-focus-colour);
  text-decoration: none;
}
.content-anchorlinks a:link,
.content-anchorlinks a:visited {
  color: #0056b3;
}

.content-anchorlinks a:active,
.content-anchorlinks a:focus {
  color: #0056b3;
}

.embedded-video-container {
  position: relative;
  margin: 20px 20px 40px 0;
  padding-bottom: 56.25%;
  max-width: 800px;
  height: 0;
  overflow: hidden;
}

.embedded-video-container iframe,
.embedded-video-container object,
.embedded-video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-image{
  max-width: 640px;
  width: 100%;
  height: auto;
}

.embed-custom-content {
  position: relative;
  display: block;
  max-width: 100%;
  padding: 0;
  overflow: hidden;
  margin-top: 40px;
}

 .embed-custom-content iframe {
  max-width: 100%;
}



.content-image,
.content-custom-image {
  margin-top: 40px;
  margin-bottom: 40px;
}

.content_richtext{
  font-family: Lato;
  font-size: 19px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  color: #000000;
}

.base_wheretoapply_title{
  font-size: 24px;
  line-height: 32px;
}

.sharedaddress{
  margin: 40px 0;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #0B0C0C;
}

.sharedaddress p,
.sharedaddress div {
  margin-bottom: 10px;

}

.address_field{
  font-weight: 700;
}

.custom-image{
  max-width: 100%;
}

.news-title{
  margin-bottom: 40px;
}


@media (max-width: 992px) {
  .content-page-body{
    margin: 40px 20px;
  }

  .content-image,
  .content-custom-image {
    margin: 40px 20px !important;
    width: 90% !important;
  }
  .content-page-header{
    margin: 20px 0;
  }
  .news-title{
    margin: 20px auto;
  }
}
/* News Content Page */

.timedate {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 19px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .timedate {
    margin-bottom: 20px;
  }
  .content-page-body{
    margin: 20px 20px;
  }
  .content-image,
  .content-custom-image {
    margin: 20px 20px !important;
    width: 90% !important;
  }
  .news-title{
    margin: 20px auto;
  }
  .embed-custom-content {
    margin-top: 20px;
  }
}
/* End of News Content Page */
/* End of Content Page */

/*table styles */

table {
  margin-top: 40px;
  margin-bottom: 40px;
  width: auto;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  border: 1px solid #908787;
  padding: 8px;
}

thead {
  background-color: #fff;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}
/*  End of the table styles */
@media only screen and (max-width: 549px) {
.document-block {
        flex-wrap: wrap;
        justify-content: center
}
}
.document-block {
    border-radius: 5px;
    background: #F5F5F5;
    padding: 20px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.document-heading {
    color: #000;

    /* Desktop/Heading/Medium */
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 125% */
    margin-top: 0;
}
.document-body {
    padding-top: 10px;
    padding-bottom: 10px;
}
.document-language-links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.document-language-links .home-links {
    position:unset;
}
.document__filter-label {
        display: block;
        margin-bottom: 5px;
        color: var(--text-primary, #0B0C0C);
        padding-top: 0;
}
.document__filter-select{
        appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
        width: 270px;
        padding: 5px;
        color: var(--text-primary, #0B0C0C);
        border: 2px solid var(--border-input, #0B0C0C);
        background: url('../img/Icon_Select.svg') no-repeat 96% center; /* Replace 'path-to-custom-arrow-icon.png' with your custom arrow icon */
        position: relative;
}
document__filter::-ms-expand {
    display: block;
    border: none;
    padding: 8px; /* Adjust the padding to align with the custom arrow */
}
.document__filter-select option{
    width: 270px;
    color: var(--text-primary, #0B0C0C);
}
.document__filter-hint{
    color: var(--text-secondary, #505A5F);
    /* Desktop/Paragraph/Body */
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 131.579% */
    margin-bottom: 10px;
}
/* News Cards */

.filter-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.filters {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  gap: 20px;
}

.filter {
  max-width: 310px;
  flex-grow: 1;
}

.filter label {
  display: block;
  margin-bottom: 5px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 25px;
  color: #0B0C0C;
}

.filter select {
  -webkit-appearance: none;
  min-width: 309px;
  padding: 5px;
  color: var(--text-primary, #0B0C0C);
  border: 2px solid var(--border-input, #0B0C0C);
  background: url('../img/Icon_Select.svg') no-repeat 96% center;;
}

.card-image {

  width: auto;
  max-width: 100%;
  border-radius: 5px 5px 0 0;
  display: block;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: auto;
  display: block;
}

.card-content-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
}

.card-text-content {
  flex-grow: 1;
}

.card-title {
  font-size: 19px;
  font-family: 'Lato';
  font-weight: 700;
  line-height: 24px;
  color: #005F81;
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-date {
  font-size: 19px;
  font-family: 'Lato';
  font-weight: 700;
  line-height: 25px;
  color: #000000;
  margin-bottom: 20px;
}

.card-content {
  font-size: 16px;
  font-family: 'Lato';
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card .home-links {
  position: absolute;
  bottom: 70px;
  left: 20px;
  font-size: 16px;
  font-family: 'Lato';
  font-weight: 400;
  line-height: 20px;
  color: #005F81 ;
  border-bottom: 1px solid #005F81 ;
}
.card .home-links:hover {
  text-decoration-line: none;
  border-bottom: 3px solid #005F81 ;
}
.card .home-links:link,
.card .home-links:visited {
  color: #005F81 ;
}

.card .home-links:active,
.card .home-links:focus {
  color: #005F81 ;
}

.card-tags {
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 10px;
  left: 10px;
}


.tag {
  display: inline-block;
  background-color: #DFDFDF;
  color: #333;
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 15px;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Lato';
  font-weight: 400;
  line-height: 20px;
  max-width: 7em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  box-sizing: border-box;
  min-width: 300px;
  min-height: 580px;
  border-radius: 5px;
  background-color: #F5F5F5;
  font-family: 'lato', sans-serif;
  position: relative;
  display: inline-block;
  flex-direction: column;

}

.news-cards {
  display: grid;
  gap: 40px 20px;
  padding: 40px 0;

}
@media screen and (min-width: 1280px) {
.news-cards {
grid-template-columns: repeat(4, 1fr);
}

}
@media screen and (min-width: 972px) and (max-width: 1279px) {
.news-cards {
  grid-template-columns: repeat(3, 1fr);
}
.card {
  min-height: 600px;
}

}
@media screen and (min-width: 700px) and (max-width: 971px) {
.news-cards {
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px 0;
}
.card {
  min-height: 630px;
}
}
@media screen and (max-width: 700px) {
  .news-cards {
    gap: 20px;
    padding: 20px 0;
  }
  .card {
    min-height: 740px;
  }
  .filters {
    flex-direction: column;
  }
  .filter {
    max-width: 100%;
  }
  .filter select {
    min-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .card {
    min-height: 640px;
  }
}

/* End of the News Cards */

/* Breadcrumbs */

.breadcrumb-nav{
    background-color: #F5F5F5;
    padding: 10px 0;
}

.breadcrumb {

  border-radius: 0;
  width: 100%;
  max-width: 1290px;
  padding: 0 20px;
  margin: 0 auto;

}

.breadcrumbSeparator{
  margin: auto 5px;
}

.breadcrumb-item .home-links {
  color: #2C55A2;
  border-bottom: 1px solid #2C55A2 ;
  font-size: 16px;
  font-family: 'Lato';
  font-weight: 400;
  line-height: 20px;
}

.breadcrumb-item .home-links:hover {
  text-decoration-line: none;
  border-bottom: 3px solid #2C55A2 ;
}
.breadcrumb-item .home-links:link,
.breadcrumb-item .home-links:visited {
  color: #2C55A2 ;
}

.breadcrumb-item .home-links:active,
.breadcrumb-item .home-links:focus {
  color: #2C55A2 ;
}

.chevron{
  margin-top: 20px;
}

@media (max-width: 999px) {
  .breadcrumb {
    padding-left: 30px;
  }
  }

@media (max-width: 343px) {
  .breadcrumb {
    padding-left:20px;
  }
}
/* End of Breadcrumbs */


.latest_news__block_title {
    color: #FFF;

    /* Mobile/Heading/Extra Large */
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px; /* 109.375% */
}

.latest_news__title {
    color: #FFF;

    /* Desktop/Paragraph/Body • Bold */
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 131.579% */
    padding-bottom: 10px;
}
.latest_news__richtext p{
    color: #FFF;

    /* Desktop/Paragraph/Body Small */
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
}

.latest_news__button {
   color: #FFF;

    /* Desktop/Paragraph/Body Small */
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration-line: none;
  border-bottom: 1px solid #FFF;
}

.latest_news__button:hover {
  text-decoration-line: none;
  border-bottom: 3px solid #FFF;
}
.latest_news__button:focus {
  outline: none !important;
  color: var(--govie-focus-text-colour);
  background-color: var(--govie-focus-colour);
  box-shadow: 0 -2px var(--govie-focus-colour);
  text-decoration: none;
}
.latest_news__button:link,
.latest_news__button:visited {
  color: #FFF;
}

.latest_news__button:active,
.latest_news__button:focus {
  color: #000;
  text-decoration-line: none;
  border-bottom: 3px solid #000;
}


.pagination__link {
  background-color: #fff;
  font-weight: 700;
  border-radius: 5px;
  color: #004d46;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  width: 30px;
  margin: 0 5px;
  position: relative;
  text-align: center;
  transition: background-color .25s ease-out;
}

.pagination {
  position: relative;
  text-align: center;
  width: 100%;
}

.img-arrows {
  padding-bottom: 5px;
}

.next-prev {
  font-weight: 700;
}

.pagination__icon {
  margin-top: 7px;
  height: 15px;
  width: 15px;
}

.icon {
  width: 20px;
  height: 20px;
  transition: fill .25s ease-out;
  fill: #fff;
}

.pagination__icon--next {
  transform: rotate(-90deg);
}

svg:not(:root) {
  overflow: hidden;
}

.pagination__list {
  list-style-type: none;
  position: relative;
  display: inline-flex;
  margin: 0 auto;
}

.non--image--search {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.search__results {
  margin-left: 10px;
  /* Desktop/Paragraph/Body */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 25px;
  /* identical to box height, or 132% */

  color: #005F81;
  height: 51px;
  min-width: 45px;
  display: flex;
  justify-content: center;
}

.list--contain {
  padding-top: 14px
}

.active {
  background-color: #005F81;
  color: white;
}

@media screen and (max-width: 768px) {
  .arrow--left {
    margin-left: 0;
  }
  .search__results{
    margin-left: 0;
    min-width: 35px;
  }

  .pagination__list{
    padding-left: 0;
  }
  .mobile-hidden{
    display: none;
  }
}


.jobs-document{
    display: flex;
    gap: 20px;
    padding: 20px 0;
}
.jobs-document a.even {
    padding: 12px;
    border-radius: 4px;
    background: var(--CIB_Green, #8AC640);
    box-shadow: 0px -1px 0px 0px #002D18 inset;
    color: #000;
}

.jobs-document a.odd {
    padding: 12px;
    border-radius: 4px;
    background: var(--Other-Light-Grey, #F3F2F1);
    box-shadow: 0px -1px 0px 0px #002D18 inset;
}
.jobs-document a.even:hover {
    border-radius: 4px;
    background: #4F791B;

    box-shadow: 0px -1px 0px 0px #002D18 inset;
    color: #FFF;
    text-decoration: none;
}
.jobs-document a.even:focus {
    border-radius: 4px;
    outline: 3px solid var(--Other-Yellow, #FD0);
    background: #4F791B;
    color: #FFF;
    text-decoration: none;
}
.jobs-document a.odd:hover {
    border-radius: 4px;
    background: var(--Other-Grey, #B1B4B6);
    box-shadow: 0px -1px 0px 0px #002D18 inset;
    text-decoration: none;
}
.jobs-document a.odd:focus {
    border-radius: 4px;
    outline: 3px solid var(--Other-Yellow, #FD0);
    background: var(--Other-Grey, #B1B4B6);
    text-decoration: none;
}

.jobs-document a.even:active, .jobs-document a.odd:active {
    border-radius: 4px;
    outline: 2px solid var(--Border-Input, #0B0C0C);
    background: var(--Focus-Default, #FD0);
    box-shadow: 0px -1px 0px 0px #000 inset;
    text-decoration: none;
    color: #000;

}
.job_organisation_logo{
    max-width: 100%;
    height: auto;
    margin: 40px 0 20px;
    border-radius: 6px 6px 0px 0px;
}
.job__title {
    color: var(--CIB_Dark_blue, #005F81);
    /* Desktop/Heading/Large */
    font-family: Lato;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    padding-bottom: 20px;
}
.job__organisation {
    text-align: unset;
    padding-bottom: 20px;
}
.job__address p{
    color: var(--CIB_Dark_blue, #005F81);
    margin: 0;
}
.job__closing_date {
    padding: 20px 0;
    color: var(--CIB_Dark_blue, #005F81);
    /* Desktop/Paragraph/Body • Bold */
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
}

.jobs__email {
    color: var(--CIB_Dark_blue, #005F81);
    /* Desktop/Link/Body */
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 131.579% */
    text-decoration-line: underline;
}

.job-cards {
    display: grid;
    gap: 20px;
    padding: 40px 0;
}
@media screen and (min-width: 1025px) {
.job-cards {
  grid-template-columns: repeat(3, 1fr);
}
}
@media screen and (min-width: 560px) and (max-width: 1024px) {
  .job-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
.job-card{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background: #F5F5F5;

    /* Panel Drop Shadow */
    box-shadow: 0px 0px 0px 1px rgba(217, 217, 217, 0.80), 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
}
.job_card__organisation_logo {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

.job_card__organisation_logo_container {
    height: 190px;
    overflow: hidden;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.job_card__content{
    padding: 20px 20px 0;
}
.job_card__title {
    color: #000;

    /* Desktop/Paragraph/Body Large • Bold */
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
}
.job_card__address {
    color: var(--CIB_Dark_blue, #005F81);
    /* Desktop/Link/Body */
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 131.579% */
}
.job_card__address p{
    margin: 0;
}
.job_card__address p br {
  content: "";
}

.job_card__address p br:after {
  content: " ";
}
.jobs-card__button {
    padding: 12px;
    border-radius: 4px;
    background: var(--CIB_Green, #8AC640);
    box-shadow: 0px -1px 0px 0px #002D18 inset;
    text-decoration: none;
    color: #000;
    margin: auto 20px 20px;
    text-align: center;
}

.jobs-card__button:hover {
    border-radius: 4px;
    background: #4F791B;

    box-shadow: 0px -1px 0px 0px #002D18 inset;
    color: #FFF;
    text-decoration: none;
}
.jobs-card__button:focus {
    border-radius: 4px;
    outline: 3px solid var(--Other-Yellow, #FD0);
    background: #4F791B;
    color: #FFF;
    text-decoration: none;
}

.jobs-card__button:active {
    border-radius: 4px;
    outline: 2px solid var(--Border-Input, #0B0C0C);
    background: var(--Focus-Default, #FD0);
    box-shadow: 0px -1px 0px 0px #000 inset;
    text-decoration: none;
    color: #000;
}


.search-results__count {
  font-size: 19px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 25px;
  color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
}

.border--bottom__div {
  border-bottom: 1px solid #DBD3C0;
}

.search-result {
  padding-bottom: 20px;
  padding-top: 20px;
}

.search-result__title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #0B0C0C;
}

.summary--text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 25px;
}

.left_nav--text a{
    color: #000;

    font-family: 'Lato', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    border-bottom: 1px solid #000;
    line-height: 44px;
}

.left_nav--text a.current,
.left_nav--text a.selected {
    font-weight: 700;
    text-decoration-line: none;
    border-bottom: unset;
}

.left_nav--text a:hover {
  text-decoration-line: none;
  border-bottom: 3px solid #000;
}
.left_nav--text a:focus {
  outline: none !important;
  color: var(--govie-focus-text-colour);
  background-color: var(--govie-focus-colour);
  box-shadow: 0 -2px var(--govie-focus-colour);
  text-decoration: none;
}
.left_nav--text a:link,
.left_nav--text a:visited {
  color: var(--govie-text-colour);
}

.left_nav--text a:active,
.left_nav--text a:focus {
  color: var(--govie-text-colour);
}
.left_nav--text{
    padding: 0;
}
.left_nav--text ul{
    list-style: none;
    padding: 0;

}
.left_nav--text li{
    list-style: none;
}

.left_nav--main {
    border-left: 10px solid #0094C9;
    padding-left: 20px;
    background: #F5F5F5;
    max-width: 370px;

}
.left_nav--child {
    margin-left: 30px;
    min-height: 44px;
    line-height: 44px;
}
.round-bullet {
      list-style: none;
      padding: 0;
    }

.round-bullet > li {
      position: relative;
      padding-left: 20px;
}

.round-bullet > li::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: #BDBDBD;
      display: inline-block;
}

.round-bullet > li.selected::before {
      background-color: #0094C9
}

.main-page-content {
    display: flex;
    gap: 20px;
}
.left-nav{
    flex: 1 0 30%;
    margin-top: 40px;
}
@media screen and (max-width: 768px) {
    .main-page-content {
    flex-wrap: wrap;
}
}
.page-body{
    flex: 70%;
}

.search--heading {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;

  color: #005F81;
}
/* Back button */
.office__button{
  display: flex;
  width: 200px;
  height: 48px;
  padding: 8px 12px 7px 8px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  margin-top: 40px;
  border-radius: 4px;
  background: var(--Other-Light-Grey, #F3F2F1);
  box-shadow: 0px -1px 0px 0px #002D18 inset;
}
.office__button:hover {
  border-radius: 4px;
  background: var(--Other-Grey, #B1B4B6);
  box-shadow: 0px -1px 0px 0px #002D18 inset;
  color: #000;

}
.office__button:focus {
  border-radius: 4px;
  border: 3px solid var(--Focus-Default, #FD0);
  background: var(--Other-Grey, #B1B4B6);
  box-shadow: 0px -1px 0px 0px #002D18 inset;
  color: #000;

}

.office__button:active {
  border-radius: 4px;
  border: 2px solid var(--Border-Input, #0B0C0C);
  background: var(--Focus-Default, #FD0);
  box-shadow: 0px -1px 0px 0px #002D18 inset;
  color: #000;
}

.office__button, .office__button:hover, .office__button:focus .office__button:active {
  text-decoration: none;
  outline: none;
}

.office__button img{
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  fill: #000;
}

.office__button--text{
  color: var(--Black, #000);
  text-align: center;
  outline: none !important;
  font-family: Lato;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

@media screen and (max-width: 767px) {

  .office__button{
    width: 100%;
    margin-top: 20px;
  }
}
/* Back button */