{% load wagtailcore_tags wagtailimages_tags static %}
<div style="margin-top:80px;">
    <div class="wrapper wrapper--large wrapper--padding">
        {% for block in page.body %}
            {% include "patterns/molecules/streamfield/blocks/standard_page_body_block.html" with block=block %}
        {% endfor %}
        {% if page.jobvacancy_latestnews_snippet %}
                    {% include_block page.jobvacancy_latestnews_snippet.body with latest_news=page.jobvacancy_latestnews_snippet.latest_news %}
        {% endif %}
    </div>
</div>
