{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load util_tags i18n irelandie_assets_tags %}
<style>

.mute__hidden{
    display: none;
}
</style>
{% for block in page.generic_hero %}
 <div class="mini-hero__container">
    {% if block.value.hero_image %}
                        {% if block.value.hero_image_alignment == 'left' %}
                            <div class="mini-hero__image_left mini-hero__image_width">
                                {% image block.value.hero_image fill-960x540-c100 alt=block.value.hero_image_alt class="image mini-hero__image_left" %}
                                {% if block.value.hero_image_credit %}
                                    <button class="mini-hero__button-image-credit" data-image-credit aria-label="See the credit for this image">
                                        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M25.375 14.5C25.375 20.5061 20.5061 25.375 14.5 25.375C8.4939 25.375 3.625 20.5061 3.625 14.5C3.625 8.4939 8.4939 3.625 14.5 3.625C20.5061 3.625 25.375 8.4939 25.375 14.5ZM15.7083 9.66667C15.7083 10.334 15.1673 10.875 14.5 10.875C13.8327 10.875 13.2917 10.334 13.2917 9.66667C13.2917 8.99932 13.8327 8.45833 14.5 8.45833C15.1673 8.45833 15.7083 8.99932 15.7083 9.66667ZM15.5 20.5417V13.2917H13.5V20.5417H15.5Z" fill="white"/>
                                        </svg>
                                    </button>
                                    <div class="mini-hero__image-credit_mobile">{{ block.value.hero_image_credit }}</div>
                                    <div class="mini-hero__image-credit_left">{{ block.value.hero_image_credit }}</div>
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="mini-hero__image mini-hero__image_width">
                                {% image block.value.hero_image fill-960x540-c100 alt=block.value.hero_image_alt class="image mini-hero__image" %}
                                {% if block.value.hero_image_credit %}
                                    <button class="mini-hero__button-image-credit" data-image-credit aria-label="See the credit for this image">
                                        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M25.375 14.5C25.375 20.5061 20.5061 25.375 14.5 25.375C8.4939 25.375 3.625 20.5061 3.625 14.5C3.625 8.4939 8.4939 3.625 14.5 3.625C20.5061 3.625 25.375 8.4939 25.375 14.5ZM15.7083 9.66667C15.7083 10.334 15.1673 10.875 14.5 10.875C13.8327 10.875 13.2917 10.334 13.2917 9.66667C13.2917 8.99932 13.8327 8.45833 14.5 8.45833C15.1673 8.45833 15.7083 8.99932 15.7083 9.66667ZM15.5 20.5417V13.2917H13.5V20.5417H15.5Z" fill="white"/>
                                        </svg>
                                    </button>
                                    <div class="mini-hero__image-credit_mobile">{{ block.value.hero_image_credit }}</div>
                                    <div class="mini-hero__image-credit">{{ block.value.hero_image_credit }}</div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% elif block.value.hero_video %}
                    <div class="mini-hero__video_container" data-video-container>
                        {% if block.value.hero_image_alignment == 'left' %}
                            <video id="myVideo" class="mini-hero__video_left" aria-label="{{ block.value.hero_video.title  }}" title="{{ block.value.hero_video.title  }}" autoplay muted loop data-video>
                                <source src="{{ block.value.hero_video.url }}" type="video/mp4">
                                    {% trans 'Your browser does not support the video tag.' %}
                            </video>
                            <div class="mute__icon">
                                 <button onclick="toggleMute();" class="mini-hero__mute mini-hero__mute--left" type="button">Mute/Unmute</button>
                                 <button onclick="toggleMute();" class="mini-hero__unmute mini-hero__unmute--left" type="button">Mute/Unmute</button>
                            </div>
                            <button class="mini-hero__playVideo mini-hero__playVideo--left hero__video-control-toggle" class="hero__video-control-toggle" aria-label="{% trans 'Toggle video playback' %}" data-video-toggle>
                                {% include "patterns/atoms/icons/icon.html" with name="play" classname="hero__video-control-icon hero__video-control-icon--play" %}
                                {% include "patterns/atoms/icons/icon.html" with name="pause" classname="hero__video-control-icon hero__video-control-icon--pause" %}
                            </button>

                        {% else %}
                            <video id="myVideo" class="mini-hero__video" aria-label="{{ block.value.hero_video.title  }}" title="{{block.value.hero_video.title  }}" autoplay muted loop data-video>
                                <source src="{{ block.value.hero_video.url }}" type="video/mp4">
                                    {% trans 'Your browser does not support the video tag.' %}
                            </video>
                             <div class="mute__icon">
                                 <button onclick="toggleMute();" class="mini-hero__mute mini-hero__mute--right" type="button">Mute/Unmute</button>
                                 <button onclick="toggleMute();" class="mini-hero__unmute mini-hero__unmute--right" type="button">Mute/Unmute</button>
                             </div>

                            <button class="mini-hero__playVideo mini-hero__playVideo--right hero__video-control-toggle" aria-label="{% trans 'Toggle video playback' %}" data-video-toggle>
                                {% include "patterns/atoms/icons/icon.html" with name="play" classname="hero__video-control-icon hero__video-control-icon--play" %}
                                {% include "patterns/atoms/icons/icon.html" with name="pause" classname="hero__video-control-icon hero__video-control-icon--pause" %}
                            </button>
                         {% endif %}
                    </div>

                    {% endif %}
        <div class="{% if block.value.hero_image_alignment == 'left' %}mini-hero__content_left{% else %}
        mini-hero__content_right{% endif %} mini-hero__content" style="{% if block.value.text_color %}background-color: {{block.value.background_color}};{% endif %}">
                <h1 class="mini-hero__title">

                    {% if block.value.hero_title %}
                        {% title_length block.value.hero_title as title_length %}
                            <div class="{% if title_length > 25 and title_length < 50 and block.value.subtitle|length < 140 %}mini-hero__title_length
                            {% elif title_length > 50 or block.value.subtitle|length > 140 %}mini-hero__title_very_big{% endif %}">
                                {{ block.value.hero_title }}
                            </div>
                    {% endif %}
                </h1>
                    {% if block.value.subtitle %}
                        <p class="mini-hero__subtitle">{% firstof block.value.subtitle %}</p>
                    {% endif %}
            {% check_page_type page.content_type 'Story page' as StoryPage %}
            {% check_page_type page.content_type 'general content page' as GeneralContentPage %}
            {% check_page_type page.content_type 'Free Form Page' as FreeFormPage %}
            {% check_page_type page.content_type 'Listings Index' as ListingsPageIndex %}
            {% check_page_type page.content_type 'Listings Index USA' as ListingsPageIndexUSA %}
             {% if GeneralContentPage or StoryPage or FreeFormPage or ListingsPageIndex or ListingsPageIndexUSA %}
         <ul class="tag__slide">
            {% for tags_category, tag_links in tagging_links %}
                <li class="tag__slide-item"><a href="{{ tag_links }}">{{ tags_category.specific.tag_label }}</a></li>
            {% endfor %}
            {% for tags_category in tags_no_links %}
                <li class="tag__slide-item">{{ tags_category.specific.tag_label }}</li>
            {% endfor %}
            {% for tags_destination, tag_links in destination_tag_links %}
                <li class="tag__slide-item"><a href="{{ tag_links.url }}">{{ tags_destination }}</a></li>
            {% endfor %}
         </ul>
            {% endif %}

        </div>

    </div>

{% endfor %}

<script>
    let iicon = document.querySelectorAll('.mini-hero__button-image-credit');
    let imagecredit = document.querySelectorAll('.mini-hero__image-credit_mobile');

    for (let i = 0; i < iicon.length; i++) {
        iicon[i].addEventListener('click', function() {
            imagecredit[i].classList.toggle('visible');
        });
    }
    const muteIconDiv = document.querySelector(".mute__icon");
    const muteIcon = document.querySelector(".mini-hero__mute");
    const unmuteIconRight = document.querySelector(".mini-hero__unmute--right");
     const unmuteIconLeft = document.querySelector(".mini-hero__unmute--left");
    muteIconDiv.addEventListener('click', () => {
      muteIcon.classList.toggle('mute__hidden')
    });
    muteIconDiv.addEventListener('click', () => {
      unmuteIconRight.classList.toggle('mini-hero__unmute__active__right')
    });
    muteIconDiv.addEventListener('click', () => {
      unmuteIconLeft.classList.toggle('mini-hero__unmute__active__left')
    });

    function toggleMute() {

        var myvideo=document.getElementById("myVideo")

        if(myvideo.muted){
            myvideo.muted = false;
        } else {
            myvideo.muted = true;
        }

        }

</script>

